@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,900&display=swap");
.roboto-300 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.roboto-500 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.roboto-900 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
